body {
	text-align: center;
    padding-top: 200px;
    font-family: Pacifico;
    font-size: 50px;
    color: white;
    background-image: url("http://i.imgur.com/qIMjH3f.jpg");
   }

nav li {
  display: inline-block;
}

nav li a { 
  line-height: 50px;
  text-decoration: none;
  color: white;
  font-family: Muli;
  font-size: 20px;
  padding: 0 30px;
}

nav {
  background-color: #333333;
  position: fixed;
  width: 100%;
  top: 0;
}

nav ul {
  margin: 0;
  text-align: center;
}

.projects {
  padding-top: 270px;
}

.projects img {
  width: 100%;
  padding: 20px;  
  font-family: Muli;
}

.column {
  float: left;
  width: 33.3%;
  background: #333333 no-repeat center fixed;
  background-size: cover;
  height: 700px;
}


.column-inner {
  padding-top: 20px;
}